.App {
  text-align: center;
}

.Person{
  width: 20%;
  margin: 8px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.btn{
  width: 5%;
  margin: 5px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}